ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar-wrapper {
  // position: fixed;
  // top: 0;
  // left: 0;
  max-width: 200px;
  width: 200px;
  height: 100vh;
  background-color: #353535;

  .sidebar-container {
    width: 100%;

    .title-container {
      padding: 12px 12px 12px 12px;

      h1 {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .manage-container {
      .manages {
        .manage {
          display: flex;
          align-items: center;
          height: 43px;

          cursor: pointer;

          a {
            width: 100%;
            height: 100%;
            display: block;
          }

          .text {
            color: #eeeeee;
            font-size: 14px;
            font-weight: 400;
          }

          &:hover {
            background-color: #66d3ff;
          }

          .text-container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .text {
              display: block;
              padding: 0 12px 0 12px;
            }
          }
        }
      }
    }
  }
}
