.wrapper {
  .container {
    padding: 0 24px 0 24px;

    .contents {
      padding: 24px 0 24px 0;
      border-bottom: 1px solid #dbdbdb;
    }

    .contents-padding {
      padding: 32px 0 32px 0;
      border-bottom: 1px solid #dbdbdb;
    }
  }
}
