.title-wrapper {
  .title-container {
    padding: 0 24px 0 24px;

    .titles {
      padding: 32px 0 24px 0;
      border-bottom: 1px solid #dbdbdb;

      .title {
        margin: 0px 0 15px 0;

        h1 {
          font-size: 26px;
          font-weight: 600;
          line-height: 30px;
        }
      }

      .sub-title {
        font-size: 14px;

        .star {
          .point {
            font-weight: 600;
          }
          .count {
            color: #717171;
          }
        }

        .medal {
          .host {
            color: #717171;
          }
        }

        .location {
          a {
            color: #717171;
            font-weight: 600;
          }
        }
      }
    }
  }
}
