// .carousel-wrapper {
//   box-sizing: border-box;
//   position: relative;
//   overflow: hidden;

//   .carousel {
//     display: flex;
//     transform: translate3d(0, 0, 0);
//     transition: transform 0.2s;
//   }
// }

.carousel-wrapper {
  box-sizing: border-box;

  .carousel-container {
    position: relative;

    .carousel {
      display: flex;
      width: 100%;
      height: 250px;
      overflow: auto hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .image {
        flex: none;
        scroll-snap-align: start;
        position: relative;
        width: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
