.card-detail-wrapper {
  display: flex;
  margin: 0 -6px 0 -6px;
  overflow: auto hidden;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  .card-detail-room-container {
    padding: 0 6px 0 6px;
    max-width: 70.5%;
    flex: 0 0 70.5%;
    border-width: 0px 6px;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    .card-detail {
      display: flex;
      flex-direction: column;

      .image-container {
        position: relative;
        margin: 0 0 10px 0;

        .image {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }

        .like-btn {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          padding: 8px 8px 8px 8px;
        }
      }

      .text-container {
        .score {
          margin: 0 0 6px 0;

          span {
            font-size: 14px;
          }

          .icon {
            color: #ff385c;
          }

          .count {
            color: #717171;
          }
        }

        .type {
          margin: 0 0 2px 0;
        }

        .description {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          max-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .card-detail-near-container {
    padding: 0 6px 0 6px;
    max-width: 47.5%;
    flex: 0 0 47.5%;
    border-width: 0px 6px;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    .card-detail {
      display: flex;
      flex-direction: column;

      .image-container {
        position: relative;
        margin: 0 0 10px 0;
        height: 199px;

        .image {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }

        .like-btn {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          padding: 8px 8px 8px 8px;
        }
      }

      .text-container {
        .score {
          margin: 0 0 6px 0;

          span {
            font-size: 12px;
          }

          .icon {
            color: #ff385c;
          }

          .count {
            color: #717171;
          }
        }

        .description {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin: 0 0 6px 0;
          max-height: 36px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
        }

        .cost {
          font-size: 14px;

          .price {
            font-weight: 800;
          }
        }
      }
    }
  }
}
