.policy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    display: flex;
    flex-direction: column;

    h2 {
      padding: 0 0 7px 0;
      font-size: 22px;
      font-weight: 600;
    }

    span {
      color: #717171;
      font-size: 14px;
    }
  }
}
