.checkin-container {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0 0 24px 0;

    h2 {
      padding: 0 0 5px 0;
      font-size: 22px;
      font-weight: 600;
    }

    span {
      color: #717171;
      font-size: 14px;
    }
  }

  .calendar-container {
    width: 100%;
    height: 318px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .date-container {
    button {
      padding: 8px 8px 8px 8px;
      font-size: 14px;
      font-weight: 600;
      border-radius: 8px;
      text-decoration: underline;
    }
  }
}
